{% extends 'base.html' %}

{% block title %}Add Competition{% endblock %}

{% block content %}
    <form id="add-competition-form" method="post" action="{% url 'add-competition' %}">
        {{ error }}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add competition">
    </form>

    <a href="/">Return</a>
{% endblock %}