{% extends 'base.html' %}

{% block title %}Manage Competitions{% endblock %}

{% block scripts %}
    <script>
        function getSelected(sel) {
                        let opts = [];
            let len = sel.options.length;
            for (let i = 0; i < len; i++) {
                let opt = sel.options[i];

                if (opt.selected) {
                    opts.push(opt.value);
                }
            }
            console.log(opts);
            return opts;
        }

        function sendPost(url, args) {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('Success!');
                } else if (xhr.status !== 200) {
                    alert('Request failed.  Returned status of ' + xhr.status);
                }
            };
            xhr.send(encodeURI(args));
        }

        function updateCompetitors(sel, competition) {
            let selected = getSelected(sel);
            sendPost('/competition/' + competition + '/update-competitors/',
                'competitors[]=' + selected);
        }

        function updateTeams(sel, competition) {
            let selected = getSelected(sel);
            sendPost('/competition/' + competition + '/update-teams/',
                'teams[]=' + selected);
        }
    </script>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Teams</th>
            <th>Participants</th>
            <th>Matches</th>
            <th>Delete</th>
        </tr>
        {% for competition in competitions %}
            <tr>
                <td>{{ competition }}</td>
                <td>
                    <select name="team-select-{{ competition.pk }}"
                            onchange="updateTeams(this, {{ competition.pk }})" multiple>
                        {% for team in teams %}
                            <option value="{{ team.pk }}"
                                    {% if team in competition.teams.all %}
                                    selected
                                    {% endif %}
                            >{{ team }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="participant-select-{{ competition.pk }}"
                            onchange="updateCompetitors(this, {{ competition.pk }})" multiple>
                        {% for competitor in competitors %}
                            <option value="{{ competitor.pk }}"
                                    {% if competitor in competition.competitor_set.all %}
                                    selected
                                    {% endif %}
                            >{{ competitor }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><a href="{% url 'manage-matches' %}?competition_id={{ competition.pk }}">Manage
                    matches</a></td>
                <td>
                    <form action="{% url 'delete-competition' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="competition_id" value="{{ competition.pk }}">
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        {% empty %}
            <p>There are no competitions. Create one <a href="{% url 'add-competition' %}">here</a>
                or click <a href="/">here</a> to return.
            </p>
        {% endfor %}
    </table>
    <a href="/">Return</a>
{% endblock %}