{% extends 'base.html' %}
{% block title %}Manager Dashboard{% endblock %}
{% block content %}
    <a href="{% url 'add-team' %}">Add team</a>
    <a href="{% url 'add-competition' %}">Add competition</a>
    <a href="{% url 'manage-competitions' %}">Manage competitions</a>
    <a href="{% url 'create-regular-user' %}">Add user</a>

    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
