{% extends 'base.html' %}

{% block title %}VoetbalPoule Dashboard{% endblock %}

{% block scripts %}
    <script>
        function submitForm() {
            document.forms["predict-match-form"].submit();
        }
    </script>
{% endblock %}

{% block content %}
    {% for competition in competitions %}
        <h3>{{ competition }}</h3>
        {% for competitor in competition.competitor_set.all|dictsortreversed:"score" %}
            <div><b>{{ competitor.score }}</b> - {{ competitor }}</div>
        {% endfor %}
        <hr/>
    {% endfor %}
    <div id="predictions">
        <h3>Predictions</h3>
        {% for prediction in predictions %}
            <div>{{ prediction }}</div>
        {% empty %}
            <div>There are no predictions.</div>
        {% endfor %}
    </div>
    <hr/>
    <div id="upcoming">
        <h3>Upcoming matches</h3>
        <table>
            <tr>
                <th>Team A</th>
                <th>Team B</th>
                <th>Date</th>
                <th>Prediction</th>
            </tr>
            {% for match, prediction in prediction_mapping.items %}
                <tr>
                    <td>{{ match.team_a }}</td>
                    <td>{{ match.team_b }}</td>
                    <td>{{ match.date }}</td>
                    <td>
                        <form id="predict-match-form" method="post"
                              action="{% url 'predict-match' match.pk %}">
                            {% csrf_token %}
                            <input type="text" name="prediction" onblur="submitForm()"
                                   value="{{ prediction|default_if_none:"" }}">
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">There are no upcoming matches.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr/>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}