{% extends 'base.html' %}

{% block title %}Manage Matches{% endblock %}

{% block scripts %}
    <script>
    function submitForm() {
        document.forms["update-match-form"].submit();
    }
    </script>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Team A</th>
            <th>Team B</th>
            <th>Date</th>
            <th>Result</th>
        </tr>
        {% for match in competition.matches.all|dictsort:"date" %}
            <tr>
                <td>{{ match.team_a }}</td>
                <td>{{ match.team_b }}</td>
                <td>{{ match.date }}</td>
                <td>{% if match.is_played and match.result is None %}
                    <form name="update-match-form" method="post" action="{% url 'update-match' competition_id=competition.pk match_id=match.pk %}">
                        {% csrf_token %}
                        <input type="text" name="result" onblur="submitForm()">
                    </form>
                {% else %}
                    {{ match.result|default_if_none:"" }}
                {% endif %}
                </td>
            </tr>
        {% empty %}
            <p>There are no matches. Schedule one <a href="{% url 'schedule-match' %}">here</a>
                or click <a href="/">here</a> to return.
            </p>
        {% endfor %}
    </table>

    <br/>
    <hr/>
    <br/>
    {% include 'match/schedule_match.html' %}

    <a href="/">Return</a>
{% endblock %}