{% extends 'base.html' %}

{% block title %}Schedule a Match{% endblock %}

{% block content %}
    <form id="schedule-form" method="post" action="{% url 'schedule-match' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="competition" value="{{ competition.pk }}">
        <input type="submit" value="Schedule">
    </form>
{#    <a href="/">Return</a>#}
{% endblock %}