{% extends 'base.html' %}
{% block title %}Create a user{% endblock %}

{% block content %}
    <form id="user-creation-form" method="post" action="{% url 'create-regular-user' %}">
        {{ error }}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create user">
    </form>
    <a href="/">Return</a>
{% endblock %}