{% extends 'base.html' %}

{% block title %}Register with VoetbalPoule{% endblock %}

{% block content %}
    <div id="container">
        <p>{{ error }}</p>
        <form method="post" action="{% url 'first-login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}
