{% extends 'base.html' %}

{% block title %}Login to VoetbalPoule{% endblock %}

{% block content %}
<div id="container">
    <form id="loginForm" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'register-manager' %}">Create an account</a>
</div>
{% endblock %}
