{% extends 'base.html' %}

{% block title %}Register with VoetbalPoule{% endblock %}

{% block content %}
<div id="container">
    <p>{{ error }}</p>
    <form method="post" action="{% url 'register-manager' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}
