{% extends 'base.html' %}

{% block title %}Add Team{% endblock %}

{% block content %}
    <form id="add-team-form" method="post" action="{% url 'add-team' %}">
        {{ error }}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Team">
    </form>
    <a href="/">Return</a>
{% endblock %}