<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VoetbalPoule{% endblock %}</title>
    {% block scripts %}{% endblock %}
</head>
<body>
<div id="container">
    {% block content %}Content{% endblock %}
</div>
</body>
</html>